<div id="<%= dom_id(message) %>_messages">
  <% if message.user? %>
    <div class="bg-sky-200 rounded-lg m-2 mx-20 p-3">
      <%= message.content %>
    </div>
  <% else %>
    <div class="bg-gray-200 rounded-lg m-2  mx-20 p-3">
      <%= message.content if message.role != "system" %>
    </div>
  <% end %>
</div>
